.cardContainer {
  background-color: #f9f9f9 !important; /* Light background */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* 3D effect */
  padding: 16px;
  margin: 16px auto; /* Center the card horizontally */
  max-width: 800px; /* Set a maximum width for the card */
  width: 100%; /* Ensure the card takes the full width within the max-width */

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(
      1.02
    ); /* Enlarge on hover for a more pronounced 3D effect */
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      color: #4caf50; /* Green color for the title */
      margin-bottom: 8px;
    }

    .content {
      color: #333;
      margin-bottom: 16px;
    }

    .votingSection {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 8px;

      .MuiSvgIcon-root {
        margin-right: 5px;
      }
    }

    .commentsSection {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: -40px;

      .MuiSvgIcon-root {
        margin-right: 5px;
      }
    }

    .commentInputSection {
      margin-top: 16px;

      .commentInput {
        margin-bottom: 8px;
      }

      .addCommentButton {
        background-color: #4caf50; /* Green color for the button */
        color: #fff;
      }
    }
  }
}
